.banner {
}
.banner div {
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 60px;
}

/* DESKTOP VIEW */

@media only screen and (min-width:500px) {
}

/* MOBILE VIEW */

@media only screen and (max-width:500px) {
}
